.private-chat {
  display: block;
  grid-column: 2/3;
  grid-row: 3/4;
  height: 60vh;
  width: 100%;
  display: flex;
  background-color: $color-light;
  flex-direction: column;
  &--hidden {
    display: none;
  }
  @media (max-width: $small) {
    z-index: 2;
    grid-column: 1/2;
    grid-row: 2/4;
    height: 100%;
    width: 100%;
  }
  &__error {
    margin: auto;
    color: $color-danger;
    font-size: 1.1rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $color-highlight;
    padding: 0.5rem 0.5rem;
    color: $color-light;
    font-size: 1.05rem;
    font-family: $font-title;
    @media (max-width: $small) {
      background-color: $color-secondary;
      color: #333;
    }
  }
  &__title {
    font-weight: bold;
  }
  &__scroll {
    & > div:first-of-type {
      overflow-x: hidden !important;
    }
  }
  &__messages {
    padding-right: 1.5rem;
    @media (max-width: $large) {
      padding-right: 1.5rem;
    }
  }
}
