.private-chat {
  display: block;
  grid-column: 2/3;
  grid-row: 3/4;
  height: 60vh;
  width: 100%;
  display: flex;
  background-color: $color-light;
  flex-direction: column;
  &--hidden {
    display: none;
  }
  @media (max-width: $small) {
    z-index: 2;
    grid-column: 1/2;
    grid-row: 2/4;
    height: 100%;
    width: 100%;
  }
  &__error {
    margin: auto;
    color: $color-danger;
    font-size: 1.1rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $color-highlight;
    padding: 0.5rem 0.5rem;
    color: $color-light;
    font-size: 1.05rem;
    font-family: $font-title;
    @media (max-width: $small) {
      background-color: $color-secondary;
      color: #333;
    }
  }
  &__title {
    font-weight: bold;
  }
  &__username {
    display: block;
    margin-right: 0.5rem;
    padding-top: 0.2rem;
    font-size: 1rem;
    &--right {
      text-align: right;
    }
    &--left {
      text-align: left;
    }
  }
  &__scroll {
    & > div:first-of-type {
      overflow-x: hidden !important;
    }
  }
  &__messages {
    padding-right: 1.5rem;
    @media (max-width: $large) {
      padding-right: 1.5rem;
    }
  }
  &__message {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    &--left {
      margin-right: auto;
    }
    &--right {
      align-self: end;
      margin-left: auto;
    }
  }
  &__message-text {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    max-width: 60%;
    background-color: $color-secondary;
    word-wrap: break-word;
    @media (max-width: $large) {
      max-width: 75%;
    }
    @media (max-width: $small) {
      max-width: 90%;
    }
    &--left {
      @include border-radius(0 15px 15px 25px);
      margin-right: auto;
    }
    &--right {
      @include border-radius(15px 25px 0 15px);
      margin-left: auto;
      background-color: darken($color-secondary, 10%);
    }
  }
}
