.online-users {
  grid-column: 4/5;
  grid-row: 2/4;
  background-color: $color-secondary;
  height: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  &__list-item {
    margin-top: 0.2rem;
  }
  &__user {
    font-size: 1.1rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    @include transition(background-color, 0.3s);
    &:hover {
      background-color: $color-highlight;
      color: $color-light;
    }
  }
}
