.online-users {
  display: block;
  grid-column: 3/4;
  grid-row: 2/4;
  background-color: $color-secondary;

  height: 100%;
  z-index: 3;
  &--hidden {
    display: none;
    @media (min-width: 1201px) {
      display: block;
    }
  }
  @media (max-width: $medium) {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40vw;
  }
  @media (max-width: $small) {
    width: 60vw;
    box-shadow: -9px -2px 5px 0px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -9px -2px 5px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -9px -2px 5px 0px rgba(0, 0, 0, 0.28);
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-right: 0.5rem;
  }
  &__list-item {
    margin-top: 0.2rem;
    border-bottom: 1px solid darken($color-secondary, 10%);
  }
  &__user {
    font-size: 1.1rem;
    padding: 0.4rem 0.8rem;

    cursor: pointer;
    @include transition(background-color, 0.3s);
    &--highlighted {
      @include animation(blinkingBg 1.6s linear alternate infinite);
    }
    &:hover {
      background-color: $color-highlight;
      color: $color-light;
    }
  }
}
@include keyframes(blinkingBg) {
  from {
    background-color: $color-secondary;
  }
  to {
    background-color: lighten($color-highlight, 20%);
  }
}
