.chat-header {
  grid-column: 1/5;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color-highlight;
  color: $color-light;
  padding: 0.25rem 1rem;
  &__logo {
    font-family: $font-title;
  }
  &__username {
    font-size: 1rem;
    margin-left: auto;
  }
}
