.login {
  height: 100vh;
  // background: linear-gradient(169deg, $color-highlight 21%, $color-main 97%);
  background: $color-highlight;
  display: flex;
  align-items: center;
  justify-content: center;
  &__form {
    background-color: $color-light;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
    @include border-radius(5px);
    @media (max-width: $large) {
      width: 40%;
    }
    @media (max-width: $medium) {
      width: 50%;
    }
    @media (max-width: $small) {
      width: 90%;
    }
  }
  &__title {
    font-family: $font-title;
    font-size: 2.3rem;
  }
  &__username {
    width: 70%;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    border-color: $color-highlight;
    @include border-radius(5px);
    @media (max-width: $medium) {
      margin-top: 2rem;
      margin-bottom: 3rem;
      // padding: 0.75rem 1rem;
      font-size: 1rem;
    }
    @media (max-width: $small) {
      width: 80%;
    }
  }
}
