.login {
  height: 100vh;
  background: linear-gradient(169deg, $color-secondary 21%, $color-main 97%);
  display: flex;
  align-items: center;
  justify-content: center;
  &__form {
    background-color: $color-light;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
    @include border-radius(5px);
  }
  &__title {
    font-family: $font-title;
    font-size: 2.3rem;
  }
  &__username {
    width: 70%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    border-color: $color-main;
    @include border-radius(5px);
  }
  &__enter-btn {
    font-family: $font-title;
    padding: 0.6rem 4rem;
    font-size: 1.2rem;
    border: none;
    background: linear-gradient(139deg, $color-main, $color-highlight);
    color: $color-text;
    @include border-radius(5px);
    background-size: 200% 200%;
    &:hover {
      @include animation(colorChange 3s ease infinite);
    }
  }
}
@include keyframes(colorChange) {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
