@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$color-main: #fefcff;
$color-highlight: #635b93;
$color-dark: #191d1c;
$color-secondary: lighten(#d1d0ce, 12%);
$color-light: #fefcff;

$font-title: "Raleway", sans-serif;
$font-main: "Lato", sans-serif;
