@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$color-main: #57bc90;
$color-highlight: #015249;
$color-secondary: #77c9d4;
$color-light: #fff;
$color-text: #fff;

$font-title: "Kalam";
$font-main: "Lato", sans-serif;
