@import "./partials/globalChat";
@import "./partials/statusBar";
@import "./partials/privateChat";
body {
  background-color: #333;
  min-height: 100vh;
  width: 100vw;
}
#app {
  width: 100vw;
  height: 100vh;
}
