@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

$color-main: #fefcff;
$color-highlight: #635b93;
$color-dark: #191d1c;
$color-secondary: lighten(#d1d0ce, 12%);
$color-light: #fefcff;
$color-danger: #ff0000;

$font-title: "Raleway", sans-serif;
$font-main: "Lato", sans-serif;

$large: 1500px;
$medium: 1200px;
$small: 769px;
